body {
    background: rgb(30,30,30);
    color: white;
    box-sizing: border-box;
    margin: 0;
}

.top-c {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5vh 0;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

line {
    stroke: #555 !important;
}

path {
    stroke: #555 !important;
}

.text {
    fill: white;
}

#tooltip {
    z-index: 1;
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    left: 50px;
    bottom: 100px;
    /* padding: 10px 20px; */
    background: rgba(150,150,150,.6);
    border-radius: 4px;
}
.tooltip-text {
    color: white;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 200px;
    font-size: .7rem;
    padding: 7px 15px;
    background: rgba(150,150,150,.6);
    border-radius: 4px;
}

.container {
    height: 570px;
    width: 1000px;
    align-items: center;
    justify-content: center;
    background: rgb(40,40,40);
    margin: auto;
    border-radius: 4px;
}

.plot {
    max-height: 520px;
}

@media(max-width: 600px) {
    h2 {

        font-size: 20px;
        left: 20px;
        top: 30px;
    }

}
    